html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    /* border: 2px solid black; */
    /* margin: 10px; */
}
div{
    display: flex;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    /* flex: 1 1 0; */
}

#calculatorFrame{
    max-width: 500px;
    border: 5px solid #dee2e6;
    background: #f8f9fa;
    /* min-height: 300px; */
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    flex: 1;
    
}
#displayPanel{
    height:50px;
    background: #e9ecef;
    color: 343a40;
    border: 1px solid dee2e6;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    flex: 0.2;
}

#scientificFunctionPanel{
    height:200px;
    background: #f8f9fa;
    color: #007bff;
    border: 2px solid #dee2e6;
    flex: 0.4;
}
#scientificFunctionPanel:hover{
    background: #007bff;
    color: white;
}

#mainInputPanel{
    height: 450px;
    flex: 1;
    gap: 10px;
    /* border: 2px solid greenyellow; */
}
#numberPanel{
    flex: 5;
    background: white;
    color: #343a40;
    border: 2px solid #dee2e6;
}
#numberPanel:hover{
    background: #00BCD4;
}
#operatorPanel {
    flex: 1;
    background: #e9ecef;
    color: #007bff;

    border: 2px solid #dee2e6;
}